<p style="color: green"><%= notice %></p>

<h1>Latitudes</h1>

<div id="latitudes">
  <% @latitudes.each do |latitude| %>
    <%= render latitude %>
    <p>
      <%= link_to "Show this latitude", latitude %>
    </p>
  <% end %>
</div>

<%= link_to "New latitude", new_latitude_path %>
