<div id="<%= dom_id comment %>">
  <p>
    <strong>Feature:</strong>
    <%= comment.feature_id %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= comment.body %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= comment.text %>
  </p>

</div>
