<h1>Editing earthquake</h1>

<%= render "form", earthquake: @earthquake %>

<br>

<div>
  <%= link_to "Show this earthquake", @earthquake %> |
  <%= link_to "Back to earthquakes", earthquakes_path %>
</div>
